@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

/* @theme {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --font-serif: "JetBrains serif", sansspace;
} */
@theme {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --font-serif: "Merriweather", Georgia, serif;
  --font-funnel: "Funnel Display", sans-serif;
}

/* Global utility for transitions on dark mode switch */
* {
  transition-property: background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}